/* .header{
	height:55px;

}   */
/*  

.pocetna {

	background: red;
	display:block;
	width:100px;
	height:100%;
	text-align:center;
	vertical-align:center;
}


.login{
	background: red;
	width:100px;
}

.admin{
	background: red;
	width:100px;

}

.login:hover{
	background: #c23616;
}
.pocetna:hover{
	background: #c23616;
}

.admin:hover{
	background: #c23616;
}
 */