<div>

<div class="list-group">
        <h3>/kategorije</h3>
  <a href="#!kreiraj/kategoriju" class="list-group-item list-group-item-action list-group-item-success">Kreiraj Kategoriju</a>

  <a href="#!kategorije" class="list-group-item list-group-item-action list-group-item-info">Prikazi kategorije</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-warning">Prikazi kategorije sa slikom</a>

</div>
<br><br>

<div class="list-group">
        <h3>/proizvodi</h3>
  <a href="#!/kreiraj/proizvod" class="list-group-item list-group-item-action list-group-item-success">Kreiraj Proizvod</a>
  <a href="#!/proizvodi" class="list-group-item list-group-item-action list-group-item-danger">Obrisi Proizvode</a>
  <a href="#!/proizvodi" class="list-group-item list-group-item-action list-group-item-info">Prikazi Proizvode</a>

</div>
</div>
