<div ng-controller="PocetnaController">

<!-- <button ng-click="pomeri(-1)">-</button>
<button ng-click="pomeri(1)">+</button>

<img ng-show="prikazi(slideID)" class="slike" src="http://via.placeholder.com/350x150"></a>
<img ng-show="prikazi(slideID)" class="slike" src="http://via.placeholder.com/350x150"></a>

<img ng-show="prikazi(slideID)" class="slike" src="http://via.placeholder.com/140x100"></a>
<img ng-show="prikazi(slideID)" class="slike" src="http://via.placeholder.com/140x100"></a>
<img ng-show="prikazi(slideID)" class="slike" src="http://via.placeholder.com/140x100"></a>

<button ng-click="prikazi(slideID)">PRIKAZI</button>

{{slideID}}

 -->
</div>
          