<div class="pojedinacniProizvod-wrapper" ng-controller="PojedinacniProizvodiController">
	<div class="pojedinacniProizvod">
		<div class="pojedinacnaSlika">
			<img ng-src="http://localhost:5000/img/{{proizvod.data.slika}}">

		</div>
			<div class="detalj-proizvoda">
				<h2>{{proizvod.data.naziv}}</h2>
				<div class="opis-proizvoda">{{proizvod.data.opis}}</div>
		</div>
		<div class="kolicina">
			Na stanju: {{proizvod.data.kolicina}}
		</div>
		<div class="cena">
			Cena: {{proizvod.data.cena}}
		</div>
	</div>
	<div class="loader" ng-show="loading"></div>
</div>