<div ng-controller="SviProizvodiController">
	<div class="loader" ng-show="loading"></div>
	<div class="sortiranje">
		<div class="btn-group dropright sortiranje">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sortiraj po:</button>
			<div class="dropdown-menu">
				<h6 class="dropdown-header">Ceni</h6>
				<a class="dropdown-item" href="" ng-click="reverse(false)">Rastuce</a>
				<a class="dropdown-item" href="" ng-click="reverse(true)">Opadajuce</a>
			</div>
		</div>
	</div>
	<input ng-model="search" class="form-control mr-sm-2" type="text" placeholder="Search">
	    <div class="proizvod-container">
	    	<div class="proizvod" ng-repeat="proizvod in proizvodi.data | filter:search | orderBy : 'cena' : sortByCena">
	    		<h3>{{proizvod.naziv}}</h3>
		    	<div class="slika">
		    		
		    		<img ng-src="http://localhost:5000/img/{{proizvod.slika}}" alt="">
		    	</div>
		    	<h3></h3><p><i class="a">{{proizvod['kategorija.naziv']}}</i></p>
		    	<p>Cena:{{proizvod.cena}}din</p>
		    	<a href="#!/proizvodi/{{proizvod.id}}">Detaljnije</a>
		    	<button ng-if="admin()" ng-click="obrisi(proizvod.id)">Obrisi</button>
	    	</div>
	    </div>	
</div>